$main-color: #f7e296;
$grey: #e5e5e5;
$dark-grey: #6b6b6b;
$footer-color: #464646;

@mixin inline-block {
  display: inline-block;
  margin: 0;
  padding: 0;
}
@mixin flex($justify-content: space-between) {
  display: flex;
  justify-content: $justify-content;
}

@mixin upper_font($size: 15px) {
  text-transform: uppercase;
  font-size: $size;
  line-height: $size;
}

@mixin pseudo($width, $height, $display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
  width: $width;
  height: $height;
}

@mixin sprite($position-x: 0px, $position-y: 0px) {
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: $position-x $position-y;
}

@mixin popular {
  width: 160px;
  height: 160px;
  background-color: $main-color;
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -100000px;
}

@font-face{
  font-family: 'Gilroy';
  src: url('../fonts/web/gilroylight.woff') format('woff'),
  url('../fonts/gilroy/Gilroylight.ttf') format('truetype'),
  url('../fonts/web/gilroyextrabold.woff') format('woff'),
  url('../fonts/gilroy/Gilroyextrabold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Gilroy';
  src: url('../fonts/web/gilroyextrabold.woff') format('woff'),
  url('../fonts/gilroy/Gilroyextrabold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}

body
{
  font-family: 'Gilroy', 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: black;
}

h1 {
  font-size: 47px;
  line-height: 47px;
  margin: 0;
}

h2 {
  font-size: 16px;
  line-height: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

/*.main-page
{
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
}
.main-wrapper
{
    padding-right: 20px;
    padding-left: 20px;
}*/
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.header {
  background-color: $main-color;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 19px;
  padding-bottom: 52px;
}

.user-nav {
  @include flex;
  margin-top: 13px;
  margin-bottom: 37px;
  a {
    font-size: 15px;
    line-height: 36px;
  }

  &__items {
    @include flex;
    width: 48%;
  }

  &__sign-in {
    flex-grow: 2;

    a {
      padding-left: 25px;
      position: relative;
    }

    a::before {
      @include pseudo(13px, 12px);
      @include sprite(-53px, -91px);
      top: 0;
      left: 0;
    }
  }
  &__compare {

    a {
      padding-left: 25px;
      position: relative;
    }

    a::before {
      @include pseudo(15px, 12px);
      @include sprite(-48px, -4px);
      top: 0;
      left: 0;
    }
  }
  &__backet {

    a {
      padding-left: 25px;
      position: relative;
    }

    a::before {
      @include pseudo(15px, 12px);
      @include sprite(-4px, -4px);
      top: 0;
      left: 0;
    }
  }
}

.main-nav {
  @include flex;

  &__catalog {
    @include upper_font(18px);
    font-weight: bold;
  }

  &__items {
    @include flex;
    width: 48%;
    @include upper_font(18px);
    font-weight: bold;
  }
  &__garanty {
    flex-grow: 2;
  }
}

.logo {
  margin: 0;
  display: inline-block;
  @include upper_font(48px);
  line-height: 36px;
  margin-top: -15px;
  font-weight: bold;
}
.header__decorative-element {
  width: 100px;
  height: 7px;
  background-color: white;
}
.slide-radio {
  display: none;
}
.wrapper-features {
  background-color: $grey;
}
.main-nav__submenu {
  display: none;
}
.slider {
  padding-left: 60px;
  padding-right: 60px;
  background: url(../img/slider-1.png) no-repeat;
  background-position-x: 100px;
  text-align: right;
  min-height: 486px;
  margin-top: -100px;
  margin-bottom: 100px;
}
.slide {
  width: 48%;
  display: inline-block;
  text-align: left;
  position: relative;
}
.slide__number {
  font-size: 179px;
  line-height: 133px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
}
.slide__title {
  margin-right: 100px;
  margin-top: 80px;
}
.slide__description {
  margin-right: 20px;
}
.slide__properties {
  @include flex($justify-content: flex-right);
  span {
    display: block;
  }
  div {
    margin-right: 70px;

    span:first-of-type {
      font-size: 36px;
      line-height: 36px;
    }
    span:nth-child(2) {
      font-size: 13px;
      line-height: 20px;
    }
  }
}
.popular {
  @include flex;
  margin-bottom: 185px;

  span {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    width: 160px;
    display: inline-block;
  }

  .popular__item {
    div {
      margin-bottom: 35px;
    }

    &:first-of-type div {
      @include popular;
      background-image: url(../img/popular-1.png);
    }

    &:nth-child(2) div {
      @include popular;
      background-image: url(../img/popular-2.png);
    }

    &:nth-child(3) div {
      @include popular;
      background-image: url(../img/popular-3.png);
    }

    &:nth-child(4) div {
      @include popular;
      background-image: url(../img/popular-4.png);
    }

    &:nth-child(5) div {
      @include popular;
      background-image: url(../img/popular-5.png);
    }

    &:last-of-type div {
      @include popular;
      background-image: url(../img/popular-6.png);
    }
  }
}

.services-wrapper {
  min-height: 280px;
  background-color: $grey;
}
.services {
  position: relative;

  input {
    display: none;

    &:checked + label {
      color: $main-color;
      background: black;
    }
  }

  label {
    @include upper_font(18px);
    display: block;
    box-sizing: border-box;
    padding-left: 22px;
    padding-top: 11px;
    padding-bottom: 11px;
    color: black;
    cursor: pointer;
    width: 280px;
    margin-bottom: 25px;
  }

  #services1:checked ~ .services__content1,
  #services2:checked ~ .services__content2,
  #services3:checked ~ .services__content3 {
    display: block;
  }

  &__content1 {
    display: none;
    background-color: $grey;
    padding-left: 125px;
    position: absolute;
    top: 0;
    left: 180px;
  }
  &__content2 {
    display: none;
    background-color: $grey;
    padding-left: 125px;
    position: absolute;
    top: 0;
    left: 180px;
  }
  &__content3 {
    display: none;
    background-color: $grey;
    padding-left: 125px;
    position: absolute;
    top: 0;
    left: 180px;
  }
}
.brands {
  margin-bottom: 150px;
  @include flex;

  &__item {
    text-indent: -100000px;
    display: inline-block;
    width: 260px;
    height: 100px;

    &:first-of-type {
      background-image: url(../img/logo-1-mono.jpg);
      &:hover {
        background-image: url(../img/logo-1.jpg);
      }
    }
    &:nth-child(2) {
      background-image: url(../img/logo-2-mono.jpg);
      &:hover {
        background-image: url(../img/logo-2.jpg);
      }
    }
    &:nth-child(3) {
      background-image: url(../img/logo-3-mono.jpg);
      &:hover {
        background-image: url(../img/logo-3.jpg);
      }
    }
    &:last-of-type {
      background-image: url(../img/logo-4-mono.jpg);
      &:hover {
        background-image: url(../img/logo-4.jpg);
      }
    }
  }
}
.index-content {
  @include flex;

  h3 {
    font-size: 47px;
    line-height: 43px;
    margin-bottom: 60px;
  }

  p {
    margin-bottom: 45px;
    color: $dark-grey;
  }

  ul {
    font-weight: bold;

    li:not(:last-of-type) {
      margin-bottom: 25px;
    }
  }
  .btn {
    margin-top: 70px;
    margin-bottom: 90px;
    display: inline-block;
  }
}

footer {
  background-color: $footer-color;
  padding: 62px 0;
  color: white;

  .container {
    @include flex;
  }
  a {
    color: white;
  }

  a:visited {
    color: white;
  }

  div div:last-of-type {
    text-align: right;
  }

  .logo {
    margin: 0;
    color: $main-color;
    margin-bottom: 33px;
  }

  .main-nav__items {
    width: auto;
    margin-bottom: 60px;
    margin-top: 77px;

    li {
      margin-right: 35px;
    }
  }

  .user-nav__items {
    width: auto;
    margin-bottom: 39px;

    li {
      margin-right: 35px;
    }
  }

  .phone-number {
    margin-bottom: 62px;
  }
}
.social {
  @include flex(center);

  li {
    margin-right: 15px;
  }
}

.inner {
  margin-top: 38px;
  margin-left: 60px;
}
.breadcrumbs {
  margin: 0;
  margin-top: 18px;
  margin-left: 60px;
  margin-bottom: 40px;
  padding: 0;

  vertical-align: middle;

  li {
    display: inline-block;
    vertical-align: middle;

    &:before {
      margin-right: 11px;
      margin-left: 10px;

      content: '>';

      color: #e0e0e0;
    }
    &:first-child::before {
      display: none;
    }
  }

  a {
    color: #e0e0e0;
    font-size: 14px;
    line-height: 36px;
  }
}

.wrapper {
  background-image: linear-gradient(to right,#dcdcdc 32%,#ebebeb 32%);
  .container {
    @include flex(inherit);
  }
  &--catalog {
    background-image: linear-gradient(to right,#efefef 32%,#ffffff 32%);
  }
}

.filters {
  width: 328px;
  padding-left: 60px;
  padding-right: 66px;
  box-sizing: border-box;
  padding-top: 69px;

  &__title {
    @include upper_font(16px);
    font-weight: bold;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 60px;
    padding-right: 60px;
    width: 328px;
    box-sizing: border-box;
  }

  &__field {
    position: relative;
    &::before {
      @include pseudo(201px, 2px);
      background-color: black;
      left: -1px;
    }

    p {
      font-size: 18px;
      font-weight: bold;
      padding-top: 10px;
    }
    .colors {
      @include flex;
      flex-direction: column;
    }
    .bluetooth {
      @include flex;
      flex-direction: column;
    }
  }
}
.catalog {
  @include flex;
  flex-wrap: wrap;
  padding-left: 72px;
  margin-top: 70px;
  width: 832px;
  box-sizing: border-box;
}
.product-card {
  margin-bottom: 60px;
  &__content {
    @include flex;
    margin-top: 27px;
  }
  &__title {
    font-size: 18px;
    line-height: 14px;
    margin: 0;
    width: 260px;
  }
  &__price {
    font-size: 16px;
    line-height: 16px;
  }
}
.sort {
  padding-left: 73px;
  @include flex;
  padding-top: 27px;
  width: 832px;
  box-sizing: border-box;
  ul {
    @include flex;
  }
  h2 {
    @include upper_font(16px);
    font-weight: bold;
    margin: 0;
  }
}
.page-control {
  @include flex;
  padding: 20px 30px;
  background-color: #ebebeb;
  width: 760px;
  margin: 0;
  margin-bottom: 73px;
  margin-top: -10px;
}

.hidden {
  display: none;
}
