@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/web/gilroylight.woff") format("woff"), url("../fonts/gilroy/Gilroylight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: 'Gilroy', 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: black; }

h1 {
  font-size: 47px;
  line-height: 47px;
  margin: 0; }

h2 {
  font-size: 16px;
  line-height: 16px; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

p {
  margin: 0; }

a {
  text-decoration: none;
  color: black; }

a:visited {
  color: black; }

/*.main-page
{
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
}
.main-wrapper
{
    padding-right: 20px;
    padding-left: 20px;
}*/
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.header {
  background-color: #f7e296;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 20px;
  padding-bottom: 150px; }

.user-nav {
  display: flex;
  justify-content: space-between; }
  .user-nav a {
    font-size: 15px;
    line-height: 36px; }
  .user-nav__items {
    display: flex;
    justify-content: space-between;
    width: 48%; }
  .user-nav__sign-in a {
    padding-left: 25px;
    position: relative; }
  .user-nav__sign-in a::before {
    content: "";
    display: block;
    position: absolute;
    width: 13px;
    height: 12px;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -53px -91px;
    top: 0;
    left: 0; }

.main-nav {
  display: flex;
  justify-content: space-between; }
  .main-nav__catalog {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold; }
  .main-nav__items {
    display: flex;
    justify-content: space-between;
    width: 48%;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold; }

.logo {
  margin: 0;
  display: inline-block;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 48px;
  margin-top: -20px;
  font-weight: bold; }

.header__decorative-element {
  width: 100px;
  height: 7px;
  background-color: white; }

.slide-radio {
  display: none; }

.wrapper-features {
  background-color: #e5e5e5; }

.main-nav__submenu {
  display: none; }

.slider {
  padding-left: 60px;
  padding-right: 60px;
  background: url(../img/slider-1.png) no-repeat;
  background-position-x: 100px;
  text-align: right;
  min-height: 486px;
  margin-top: -100px;
  margin-bottom: 100px; }

.slide {
  width: 48%;
  display: inline-block;
  text-align: left;
  position: relative; }

.slide__number {
  font-size: 179px;
  line-height: 133px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  color: white; }

.slide__title {
  margin-right: 100px;
  margin-top: 80px; }

.slide__description {
  margin-right: 20px; }

.slide__properties {
  display: flex;
  justify-content: flex-right; }
  .slide__properties span {
    display: block; }
  .slide__properties div {
    margin-right: 70px; }
    .slide__properties div span:first-of-type {
      font-size: 36px;
      line-height: 36px; }
    .slide__properties div span:nth-child(2) {
      font-size: 13px;
      line-height: 20px; }

.popular {
  display: flex;
  justify-content: space-between;
  margin-bottom: 185px; }
  .popular span {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    width: 160px;
    display: inline-block; }
  .popular .popular__item div {
    margin-bottom: 35px; }
  .popular .popular__item:first-of-type div {
    width: 160px;
    height: 160px;
    background-color: #f7e296;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -100000px;
    background-image: url(../img/popular-1.png); }
  .popular .popular__item:nth-child(2) div {
    width: 160px;
    height: 160px;
    background-color: #f7e296;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -100000px;
    background-image: url(../img/popular-2.png); }
  .popular .popular__item:nth-child(3) div {
    width: 160px;
    height: 160px;
    background-color: #f7e296;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -100000px;
    background-image: url(../img/popular-3.png); }
  .popular .popular__item:nth-child(4) div {
    width: 160px;
    height: 160px;
    background-color: #f7e296;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -100000px;
    background-image: url(../img/popular-4.png); }
  .popular .popular__item:nth-child(5) div {
    width: 160px;
    height: 160px;
    background-color: #f7e296;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -100000px;
    background-image: url(../img/popular-5.png); }
  .popular .popular__item:last-of-type div {
    width: 160px;
    height: 160px;
    background-color: #f7e296;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -100000px;
    background-image: url(../img/popular-6.png); }

.services-wrapper {
  min-height: 280px;
  background-color: #e5e5e5; }

.services {
  position: relative; }
  .services input {
    display: none; }
    .services input:checked + label {
      color: #f7e296;
      background: black; }
  .services label {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    display: block;
    box-sizing: border-box;
    padding-left: 22px;
    padding-top: 11px;
    padding-bottom: 11px;
    color: black;
    cursor: pointer;
    width: 280px;
    margin-bottom: 25px; }
  .services #services1:checked ~ .services__content1,
  .services #services2:checked ~ .services__content2,
  .services #services3:checked ~ .services__content3 {
    display: block; }
  .services__content1 {
    display: none;
    background-color: #e5e5e5;
    padding-left: 125px;
    position: absolute;
    top: 0;
    left: 180px; }
  .services__content2 {
    display: none;
    background-color: #e5e5e5;
    padding-left: 125px;
    position: absolute;
    top: 0;
    left: 180px; }
  .services__content3 {
    display: none;
    background-color: #e5e5e5;
    padding-left: 125px;
    position: absolute;
    top: 0;
    left: 180px; }

.brand {
  margin-bottom: 150px; }

.index-content {
  display: flex;
  justify-content: space-between; }
  .index-content h3 {
    font-size: 47px;
    line-height: 43px;
    margin-bottom: 60px; }
  .index-content p {
    margin-bottom: 45px;
    color: #6b6b6b; }
  .index-content ul {
    font-weight: bold; }
    .index-content ul li:not(:last-of-type) {
      margin-bottom: 25px; }
  .index-content .btn {
    margin-top: 70px;
    margin-bottom: 90px;
    display: inline-block; }

footer {
  background-color: #464646;
  padding: 65px 0;
  color: white; }
  footer .container {
    display: flex;
    justify-content: space-between; }
  footer a {
    color: white; }
  footer a:visited {
    color: white; }
  footer div div:last-of-type {
    text-align: right; }
  footer .logo {
    margin: 0;
    color: #f7e296;
    margin-bottom: 10px; }
  footer .main-nav__items {
    width: auto;
    margin-bottom: 60px;
    margin-top: 65px; }
    footer .main-nav__items li {
      margin-right: 35px; }
  footer .user-nav__items {
    width: auto;
    margin-bottom: 30px; }
    footer .user-nav__items li {
      margin-right: 35px; }
  footer .phone-number {
    margin-bottom: 40px; }

.social {
  display: flex;
  justify-content: center; }
  .social li {
    margin-right: 15px; }

.inner {
  margin-top: 45px;
  margin-left: 60px; }

.breadcrumbs {
  margin: 0;
  margin-top: 15px;
  margin-left: 60px;
  margin-bottom: 45px;
  padding: 0;
  vertical-align: middle; }
  .breadcrumbs li {
    display: inline-block;
    vertical-align: middle; }
    .breadcrumbs li:before {
      margin-right: 2px;
      margin-left: 3px;
      content: '>';
      color: #e0e0e0; }
    .breadcrumbs li:first-child::before {
      display: none; }
  .breadcrumbs a {
    color: #e0e0e0;
    font-size: 14px;
    line-height: 36px; }

.wrapper {
  background-image: linear-gradient(to right, #dcdcdc 32%, #ebebeb 32%); }
  .wrapper .container {
    display: flex;
    justify-content: inherit; }
  .wrapper--catalog {
    background-image: linear-gradient(to right, #efefef 32%, #ffffff 32%); }

.filters {
  width: 328px;
  padding-left: 60px;
  padding-right: 66px;
  box-sizing: border-box; }
  .filters__title {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 60px;
    padding-right: 60px;
    width: 328px;
    box-sizing: border-box; }
  .filters__field p {
    font-size: 18px;
    font-weight: bold; }
  .filters__field .colors {
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
  .filters__field .bluetooth {
    display: flex;
    justify-content: space-between;
    flex-direction: column; }

.catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 70px;
  margin-top: 70px;
  width: 832px; }

.sort {
  padding-left: 73px;
  display: flex;
  justify-content: space-between;
  padding-top: 27px; }
  .sort ul {
    display: flex;
    justify-content: space-between; }
  .sort h2 {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    margin: 0; }

.page-control {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0; }

.hidden {
  display: none; }

/*# sourceMappingURL=style.css.map */
